@page
@model Schoolwell_Management_System.Pages.Counselors.CreateModel
@{
}

<br>
<h2>New Counselor</h2>

@if (Model.errorMessage.Length > 0) {
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>@Model.errorMessage</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="Close"></button>
    </div>
}

<form method="POST">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Counselor ID</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="CounselorId" value="@Model.counselorInfo.CounselorId">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Name" value="@Model.counselorInfo.Name">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Age</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Age" value="@Model.counselorInfo.Age">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Sex</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Sex" value="@Model.counselorInfo.Sex">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Specialization</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Specialization" value="@Model.counselorInfo.Specialization">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Email" value="@Model.counselorInfo.Email">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Phone</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Phone" value="@Model.counselorInfo.Phone">
        </div>
    </div>

    @if (Model.successMessage.Length > 0) {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@Model.successMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="close"></button>
                </div>
            </div>
        </div>
    }
    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>
    </div>
</form>